@{
    ViewBag.Title = "FinalTask";
}

<div class="row">
    <div class="col-md-4">
        <h2>Вызов с помощью C#</h2>
        <p>Показать дату и сумму последней сделки через обращение к web сервису из кода на C#</p>
        <p><a class="btn btn-default" href="~/Home/GetLastTradeCSharp">Вызвать через C# &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Вызов с помощью JS</h2>
        <p>Показать дату и сумму последней сделки через обращение к web сервису из кода на JS</p>
        <p><a class="btn btn-default" href="~/Home/GetLastTradeJS">Вызвать через JS &raquo;</a></p>
    </div>
</div>